.div-modal-delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 5;
}
.div-modal-delete .modal-delete {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 30vw;
  height: 30vh;
  background-color: #fff;
  border-radius: 0.4rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1rem;
  gap: 2rem;
}
.div-modal-delete h2 {
  font-size: 2rem;
  font-weight: bold;
  text-align: center;
  color: #000;
}
.div-modal-delete button {
  all: unset;
  cursor: pointer;
  font-weight: normal;
  font-size: 1.5rem;
  line-height: 2.5rem;
  color: #f8f8f9;
  background: #0c9b73;
  border-radius: 0.4rem;
  padding: 0.5rem 1.5rem;
  cursor: pointer;
  text-align: center;
}
.div-modal-delete button:hover {
  background: #056e51;
}

.div-modal-delete .btn-delete {
  background: #ff6854;
}
.div-modal-delete .btn-delete:hover {
  background: #971706;
}

@media (max-width: 768px) {
  .div-modal-delete .modal-delete {
    width: 60vw;
    height: 40vh;
  }

  .div-modal-delete h2 {
    font-size: 1.5rem;
  }
  .div-modal-delete button {
    font-size: 1rem;
  }
}
