* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  height: max-content;
  min-height: 100vh;
  /* height: 100vh; */
}

@media (max-width: 768px) {
  .App {
    font-size: 40%;
  }
}
